extends layout

block content
  h1= title
  div(style="max-width: 900px; margin: auto;")
    form(method="post" action="/user/save")
      div(style="padding: 12px;")
        input(type="text" name="name" placeholder="Name")
      div(style="padding: 12px;")
        input(type="number" name="age" placeholder="Age")
      div(style="padding: 12px; text-align: center;")
        button Save
    div(style="margin: 30px 0;")
      table(style="border-collapse: collapse" border="1")
        thead
          tr
            td Index
            td Name
            td Age
            td Date
            td Etc
        tbody
          each u, i in result
           tr
            td= i+1
            td= u.name
            td= u.age
            td= u.createdAt
            td
              a(href=`/user/delete/${u._id}`) Delete
