extends layout.pug
block content
  table.table.table-bordered
    thead.thead-dark
      tr
        th No.
        th Title.
        th Writer.
        th Date.
        th Etc.
    tbody
      each row in rows
        tr
          td= row.id
          td= row.title
          td= row.writer
          td= row.createdAt
          td
            button.btn.btn-sm.btn-danger(onclick=`location.href='/board/delete/${row.id}'`) Delete
